@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BlackJackBalatro.Services.GameState
<div>
    <h2>Computer</h2>
    @foreach (Card card in @Model.CurrentCompHand)
    {
        <label>@card.value</label>
        <label>@card.suite</label>
        <label>@card.rarity</label><br />
    }
</div>