@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BlackJackBalatro.Services.GameState
<div>
    <h2>Player</h2>
    @foreach(Card card in @Model.CurrentPlayerHand)
    {
        <label>@card.value</label>
        <label>@card.suite</label>
        <label>@card.rarity</label>
    }
    <button id="norm" onclick="drawCard('PlayerNormalDraw')">Normal</button>
    <button id="evil" onclick="drawCard('PlayerEvilDraw')">Evil</button>
    <button id="bonus" onclick="drawCard('PlayerBonusDraw')">Bonus</button>

    <script>
        async function drawCard(action) {
            const response = await fetch(`/Deck/${action}`);
            document.getElementById("player-area").innerHTML = await response.text();
        }
    </script>
</div>