@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BlackJackBalatro.Services.GameState
<div id="player-hand">
    <h2>Player</h2>
    <div class="card-container">
    @foreach(Card card in @Model.CurrentPlayerHand)
    {
        <div class="card ">
            <span class="value">@card.value of</span>
            <span class="suite">@card.suite</span>
        </div>
    }
    </div>
    @if(@Model.NormalDeck.Count < 1){
        <button id="norm" onclick="drawCard('PlayerNormalDraw')" disabled>Normal</button>
    }else{
        <button id="norm" onclick="drawCard('PlayerNormalDraw')">Normal</button>
    }
    @if(@Model.EvilDeck.Count < 1){
        <button id="evil" onclick="drawCard('PlayerEvilDraw')" disabled>Evil</button>
    }else{
        <button id="evil" onclick="drawCard('PlayerEvilDraw')">Evil</button>
    }
    @if(@Model.BonusDeck.Count < 1){
        <button id="bonus" onclick="drawCard('PlayerBonusDraw')" disabled>Bonus</button><br />
    }else{
        <button id="bonus" onclick="drawCard('PlayerBonusDraw')">Bonus</button><br />
    }
   
    <input id="betInput" type="number" placeholder="0" /><button id="betBtn" onclick="placeBet()">Enter Bet</button>
        

    <script >
        async function placeBet() {
            let amount = document.getElementById("betInput").value;

            if (!amount || amount <= 0 || amount > @Model.Player.chips) {
                alert("Enter a valid bet!");
                return;
            }

            const result = await fetch(`/Deck/PlaceBet?amount=${amount}`);

            // Refresh Stats area
            await loadPartial(`/Deck/statRefresh`, "statDiv");

            document.getElementById("betInput").disabled = true;
            document.getElementById("betBtn").disabled = true;
        }
    </script>
</div>