@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BlackJackBalatro.Services.GameState
<div id="player-hand">
    <h2>Player</h2>
    <div class="card-container">
    @foreach(Card card in @Model.CurrentPlayerHand)
    {
            var url = Url.Content("~/assets/"+card.value + "_of_" + card.suite +".png");
            <div class="card" style="background-image: url('@url')">
        </div>
    }
    </div>
    @if(@Model.NormalDeck.Count < 1){
        <button id="norm" onclick="drawCard('PlayerNormalDraw')" disabled>Normal</button>
    }else{
        <button id="norm" onclick="drawCard('PlayerNormalDraw')">Normal</button>
    }
    @if(@Model.EvilDeck.Count < 1){
        <button id="evil" onclick="drawCard('PlayerEvilDraw')" disabled>Evil</button>
    }else{
        <button id="evil" onclick="drawCard('PlayerEvilDraw')">Evil</button>
    }
    @if(@Model.BonusDeck.Count < 1){
        <button id="bonus" onclick="drawCard('PlayerBonusDraw')" disabled>Bonus</button><br />
    }else{
        <button id="bonus" onclick="drawCard('PlayerBonusDraw')">Bonus</button><br />
    }
   
    <input id="betInput" type="number" placeholder="0" /><button id="betBtn" onclick="placeBet()">Enter Bet</button>
        

    <script >

    </script>
</div>