@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BlackJack</h1>

    <input id="playerName" type="text" placeholder="Default Name" />

    <a id="playBtn" class="btn" asp-action="GameView" asp-controller="Deck">Play</a>
</div>

<script>
    document.getElementById("playBtn").addEventListener("click", function (e) {
        e.preventDefault();

        let name = document.getElementById("playerName").value || "Default Name";

        window.location.href = `/Deck/GameView?playerName=${encodeURIComponent(name)}`;
    });
</script>