body {
    border: solid 2px;
    border-color: red;
}
#game-area {
    display: flex;
    border: solid 2px;
    border-color: pink;
    width: 100%;
}
#play-area {
    width: 85%;
    border: solid 2px;
    border-color: green;
    display: flex;
    flex-direction: column;
    height: 75vh;
}

#comp-area {
    border: solid 2px;
    border-color: yellow;
    height:50%;
}
#player-area {
    border: solid 2px;
    border-color: orange;
    height: 50%;
    padding: 20px;
}
#inventory {
    border: solid 2px;
    border-color: blue;
}
#stat-area {
    width: 10%;
    border: solid 2px;
    border-color: violet;
}
.card {
    height: 108px;
    width: 75px;
    border: 2px solid;
    border-color: black;
    margin: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
}
.card-container {

    border: 2px solid lightblue;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    flex-wrap: wrap;
}

.card.boring{

}

.card.special{

}
.card.evil{

}
.card.